.account_shortcode { 
    margin: 2px; 
    border-radius: 0 !important;
    box-shadow: none !important;
    width: 28px;
    height: 28px;
    background: none; 
    border: 2px solid transparent; 
}