.main-wrapper {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	width: 1080px;
}
.main-title {
	border-bottom: 1px solid #ccc;
	margin: 20px 0 0 0;
	display: block;
	overflow: hidden;
	padding: 10px 0;
	font-size: 22px;
}
.logo {
	height: 40px;
	width: 107px;
	vertical-align: middle;
}
h2, h3 {
	font-weight: 300;
	color: #d34a00;
}
input[type='checkbox'] {
	vertical-align: middle;
	margin-bottom: 5px;
}
.sides {
	float: left;
	overflow: hidden;
	padding: 20px;
	min-height: 220px;
	min-width: 370px;
	width: 46%;
}
.smaller-side {
	float: left;
	overflow: hidden;
	padding: 0 20px;
	min-height: 220px;
	width: 41%;
}
.zone {
	border: 1px dashed #ccc;
}
.field {
	padding: 10px 0;
}