.main-wrapper {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
}
.main-title {
	border-bottom: 1px solid #ccc;
	width: 300px;
	margin: 20px 0;
	display: block;
	overflow: hidden;
	padding: 10px 0;
	font-size: 22px;
}
.logo {
	height: 40px;
	width: 107px;
	vertical-align: middle;
}
h2 {
	font-weight: 300;
	color: #d34a00;
}
.sides {
	float: left;
	overflow: hidden;
	padding: 20px;
	min-height: 220px;
	min-width: 370px;
}