.main-wrapper {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	width: 1080px;
}
.main-title {
	border-bottom: 1px solid #ccc;
	margin: 20px 0 0 0;
	display: block;
	overflow: hidden;
	padding: 10px 0;
	font-size: 22px;
}
.logo {
	height: 40px;
	width: 107px;
	vertical-align: middle;
}
h2, h3 {
	font-weight: 300;
	color: #d34a00;
}
h2 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
h2 small {
	font-size: 12px;
	color: #000;
	float: right;
	padding-right: 5px;
}
input[type='checkbox'] {
	vertical-align: middle;
	margin-bottom: 5px;
}
.sides {
	float: left;
	overflow: hidden;
	padding: 20px;
	min-height: 220px;
	min-width: 370px;
	width: 46%;
}
.smaller-side {
	float: left;
	overflow: hidden;
	padding: 0 20px;
	min-height: 220px;
	width: 41%;
	margin-bottom: 20px;
}
.zone {
	border: 1px dashed #ccc;
	min-height: 250px;
}
.row {
	padding: 10px 0;
}
.fields_wrapper {
	overflow: hidden;
}
.inactive-fields .field {
	background: #aaa;
}
.active-fields .field {
	background: #2C9EE6;
}
.field {
	text-align: center;
	display: block;
	padding: 10px;
	margin: 5px;
	cursor: move;
	color: #fff;
}